<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Bootstrap Example</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  {% block headstatic %}  {% endblock %} 
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DemoPortal</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }} </a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>              
      
      {% else %}
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="{% url 'users:signup' %}"><span class="glyphicon glyphicon-registration-mark"></span>Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% if user.is_authenticated %}
<div class="container">
  {% block content %}  {% endblock %}          
</div>

{% block footstatic %}  {% endblock %} 
{% else %}
<center><h2>Please Log in first!</h2></center>
{% endif %}
</body>
</html>