{% extends "home/base.html" %}

{% block title %}
  <title> {{ title }}</title>
{% endblock %}

{% block headstatic %} 

{% load static %}  
  <!-- 
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">  -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> 
  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
    #sortable li { margin: 6px 6px 6px 6px; padding: 1px; float: left; width: 220px; height: 210px; font-size: 4em; text-align: center; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#sortable" ).sortable();
      //$( "#sortable" ).disableSelection();
    } );
  </script> 

{% endblock %} 

{% block content %}
  <h1>My First Bootstrap Page. Logged in {{ loginuser }} </h1> 
  
  <ul id="sortable">
    <li class="ui-state-default" id="app1">
      <div>1</div>
      <a href="https://www.google.com" class="btn btn-success btn-lg" target="_blank">
        <span class="glyphicon glyphicon-print"></span> Print 
      </a>
    </li>
    <li class="ui-state-default" id="2">
      <div>2</div>
      <a href="#"> <span class="glyphicon glyphicon-envelope"></span>
      </a>
    </li>
    <li class="ui-state-default" id="3">3</li>
    <li class="ui-state-default" id="4">4</li>
    <li class="ui-state-default" id="app-5">5</li>
    <li class="ui-state-default" id="6">6</li>
    <li class="ui-state-default" id="7">7</li>
    <li class="ui-state-default" id="8">8</li>
    <li class="ui-state-default" id="9">9</li>
    <li class="ui-state-default" id="10">10</li>

  </ul>

  

{% endblock %}  

{% block footstatic %} 
<script>
  $(document).ready(function(){
    $('#sortable').sortable({
        update: function(event, ui) {
            var newOrder = $(this).sortable('toArray').toString();
            alert(newOrder);
            //$.get('saveSortable.php', {order:newOrder});
        }
    });
  });
</script> 
{% endblock %} 